<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROOT</key>
	<string>http://localhost:8080/wash/</string>
	<key>LOGIN</key>
	<string>auth</string>
	<key>REGID</key>
	<string>regid</string>
	<key>DELIVERER_PICKUP</key>
	<string>deliverer/pickup</string>
	<key>DELIVERER_DROPOFF</key>
	<string>deliverer/dropoff</string>
	<key>DELIVERER_JOIN</key>
	<string>deliverer/join</string>
	<key>DELIVERER_ORDER</key>
	<string>deliverer/order</string>
	<key>LOGIN_CHECK</key>
	<string>auth/check</string>
	<key>CONFIRM_PICKUP</key>
	<string>deliverer/pickup/complete</string>
	<key>CONFIRM_DROPOFF</key>
	<string>deliverer/dropoff/complete</string>
	<key>LOGOUT</key>
	<string>logout</string>
</dict>
</plist>
