<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROOT</key>
	<string>https://www.cleanbasket.co.kr/wash-1.1.8/</string>
	<key>LOGIN</key>
	<string>auth</string>
	<key>REGID</key>
	<string>regid</string>
	<key>ITEM</key>
	<string>item/code</string>
	<key>DELIVERER_PICKUP</key>
	<string>deliverer/pickup</string>
	<key>DELIVERER_DROPOFF</key>
	<string>deliverer/dropoff</string>
	<key>DELIVERER_JOIN</key>
	<string>deliverer/join</string>
	<key>DELIVERER_ORDER</key>
	<string>deliverer/order</string>
	<key>DELIVERER_ORDER_PHONE</key>
	<string>deliverer/order/phone</string>
	<key>DELIVERER_LIST</key>
	<string>deliverer/list</string>
	<key>LOGIN_CHECK</key>
	<string>auth/check</string>
	<key>CONFIRM_PICKUP</key>
	<string>deliverer/pickup/complete</string>
	<key>CONFIRM_DROPOFF</key>
	<string>deliverer/dropoff/complete</string>
	<key>ASSIGN_PICKUP</key>
	<string>deliverer/pickup/assign</string>
	<key>ASSIGN_DROPOFF</key>
	<string>deliverer/dropoff/assign</string>
	<key>ASSIGN_CANCEL</key>
	<string>deliverer/assign/cancel</string>
	<key>ORDER_PICKUP</key>
	<string>deliverer/order/pickup</string>
	<key>ORDER_DROPOFF</key>
	<string>deliverer/order/dropoff</string>
	<key>ORDER_MODIFY_TIME</key>
	<string>deliverer/order/date</string>
	<key>ORDER_MODIFY_TOTAL</key>
	<string>deliverer/order/total</string>
	<key>LOGOUT</key>
	<string>logout</string>
</dict>
</plist>
